<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    stopOnFailures="false"
>
    <testsuites>
        <testsuite name="Itau">
            <file>BankSupportTest.php</file>
            <file>BankTest.php</file>
            <file>FileTest.php</file>
            <file>FactoryTest.php</file>
        </testsuite>
        <testsuite name="Bradesco">
            <file>BankSupportBradescoTest.php</file>
            <file>BankBradescoTest.php</file>
            <file>FileBradescoTest.php</file>
            <file>FactoryBradescoTest.php</file>
        </testsuite>
        <testsuite name="Caixa">
            <file>BankSupportCaixaTest.php</file>
            <file>BankCaixaTest.php</file>
            <file>FileCaixaTest.php</file>
            <file>FactoryCaixaTest.php</file>
        </testsuite>
        <testsuite name="SICOOB">
            <file>BankSupportSICOOBTest.php</file>
            <file>BankSICOOBTest.php</file>
            <file>FileSICOOBTest.php</file>
            <file>FactorySICOOBTest.php</file>
        </testsuite>
        <testsuite name="BancoDoBrasil">
            <file>BankSupportBancoDoBrasilTest.php</file>
            <file>BankBancoDoBrasilTest.php</file>
            <file>FileBancoDoBrasilTest.php</file>
            <file>FactoryBancoDoBrasilTest.php</file>
        </testsuite>
        <testsuite name="Santander">
            <file>BankSupportSantanderTest.php</file>
            <file>BankSantanderTest.php</file>
            <file>FileSantanderTest.php</file>
            <file>FactorySantanderTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>